/* src/components/MapChart.css */

.map-path {
  fill: #535858;
  stroke: white;
  stroke-width: 0.5;
}

.map-path:hover {
  fill: #a6dfdd;
  stroke-width: 1;
}

.label-box {
  fill: #333;
  /* stroke: black; */
  /* stroke-width: 0.5; */
  pointer-events: none;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 95%;
  
}

.label-text {
  font-weight: bold;
  padding: 10px 10px;
  font-size: 1em;
  fill: #f9f9f9;
  pointer-events: none;
}

.additional-text {
  font-weight: 500;
  font-size: 0.8em;
  fill: #f9f9f9;
  pointer-events: none;
}

.map-path {
  stroke: #f9f9f9;
  stroke-width: 1;
}

.tooltip {
  position: absolute;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  display: none;
  font-size: 0.9em;
  color: #333;
  
}