.predict-card-base {
    height: max-content; 
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    padding-bottom: 40px;
    background-color: #f9f9f9;
    border-radius: 15px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}
.predict-card-header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .predict-card-content {
    background-color: #4FD1C5;
    margin-top: 20px;
    padding: 27px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .predict-card-content-input h2 {
    font-weight: bold;
    font-size: 1.2em;
    color: #2d2d2d;
  }
  
  .predict-card-content-input h3 {
    font-weight: bold;
    font-size: 1.1em;
    color: #f9f9f9;
  }
  
  .predict-card-content-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    /* background-color: #38b2ac; */
    padding: 10px 50px;
  }
  
  .predict-card-content-input-dropdown {
    padding: 5px;
    align-items: center;
    align-self: center;
    align-content: center;
  }

  .predict-card-content-input-dropdown select {
    width: 250px;
    padding: 10px;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none; /* Remove default dropdown arrow for Safari */
    -moz-appearance: none; /* Remove default dropdown arrow for Firefox */
    background-size: 12px; /* Adjust size of custom arrow */
    background-color: #f9f9f9; /* Ensure background color matches your design */
    text-align: center; /* Center the text */
    line-height: 1.5; /* Adjust line height to vertically center text */
  }

  .predict-dropdown {
    width: 250px;
  }
  
  .predict-button {
    width: 150px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4FD1C5;
    border: none;
    border-radius: 5px;
    color: #f9f9f9;
    cursor: pointer;
    align-items: center;
    align-self: center;
    align-content: center;
  }
  
  .predict-button:hover {
    background-color: #38b2ac;
  }
